<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<!--/*@thymesVar id="title" type=""*/-->
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method ="post" th:object="${search}">
    <div>
        <label th:for="searchTerm">Enter the Product name</label>
        <input th:type="text" th:field="*{query}">
    </div>
    <input type="submit" value="Search">
</form>

</body>
</html>